
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
    /*border: 1px solid rebeccapurple;*/
}

html {
    font-size: 62.5%;

}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    line-height: 165%;
    -webkit-font-smoothing: antialiased;
    @apply bg-bb-primary-white text-bb-primary-black;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../public/fonts/Avenir.otf') format('otf');
    font-display: swap;
}

@font-face {
    font-family: 'Alika';
    src: url('../../public/fonts/Alika.otf') format('otf'),
    url('../../public/fonts/Alika.ttf') format('ttf');
    font-display: swap;
}


/*Global Horizontal Padding*/
.containerXPadding {
    @apply px-25 sm:px-35 md:px-50 lg:px-100 2xl:px-150
}

/*Global Horizontal Padding*/


/*Global Section Headers*/
.sectionHeader {
    @apply font-alika text-36 lg:text-56 text-bb-secondary-black uppercase leading-[120%] md:leading-[156.81%];
}

.sectionHeader2 {
    @apply font-alika text-36 lg:text-48 text-bb-secondary-black uppercase leading-[120%] md:leading-[156.81%]
}
/*Global Section Headers*/

/*Active Link*/
.line {
    transition-property: width;
}
.activeLink {
    color: black;
}

.activeLine {
    width: 80%!important;
    opacity: 1!important;
}

.social-icon {
    @apply hover:cursor-pointer aspect-square w-[45px] md:w-[35px];
    max-width: fit-content;
}

/*Active Link*/

