---
import Stat from '@atoms/Stat.vue'
import { stats } from '../../content'
---

<div class='containerXPadding flex justify-center'>
	{
		stats.infos.map((i) =>
			<Stat color={'text-bb-dark-brown'} size='large' number={i.number} category={i.category} />
		)
	}
</div>