---
import { featuredProjects } from '@content/index'
import FeaturedProjectItem from '../organisms/FeaturedProjectItem.astro'
---

<div class='flex flex-col items-center'>
	<h2 class='sectionHeader w-full text-center mb-[3rem] md:mb-[5rem] xl:mb-[7rem]'>{featuredProjects.header}</h2>
	<div
		class='h-full md:h-[45rem] xl:h-[60rem] w-full flex flex-col md:grid md:grid-cols-6 md:grid-rows-5 xl:grid-rows-4 xl:grid-cols-12 gap-[2rem] '>
		<div class='h-[30rem] w-full md:h-auto md:col-span-3 xl:col-span-5 md:row-span-2 xl:col-start-1 bg-red-50'>
			<FeaturedProjectItem title='Home Decor' />
		</div>
		<div class='h-[30rem] w-full md:h-auto md:col-span-3 xl:col-span-5 md:row-span-2 xl:col-start-1 bg-red-200'>
			<FeaturedProjectItem title='Outdoor Decor' />
		</div>
		<div
			class='h-[30rem] w-full md:h-auto md:col-span-3 xl:col-span-3 md:row-span-2 xl:row-span-4 xl:col-start-6 xl:row-start-1 bg-red-400'>
			<FeaturedProjectItem title='Arts & Accessories' />
		</div>
		<div
			class='h-[30rem] w-full md:h-auto md:col-span-3 xl:col-span-4 md:row-span-2 xl:row-span-3 xl:col-start-9 xl:row-start-1 bg-red-600'>
			<FeaturedProjectItem title='Home Decor' />
		</div>
		<div
			class='h-[15rem] w-full md:h-auto md:col-span-6 xl:col-span-4 md:row-span-1 xl:col-start-9 xl:row-start-4 flex items-center justify-center'>
			<button>{featuredProjects.cta}</button>
		</div>
	</div>
	<button></button>
</div>