---
import Logo from '@atoms/Logo.astro'
---

<div class='containerXPadding bg-bb-secondary-white flex justify-between py-[4rem]'>
	<div>Links</div>
	<Logo dimension='w-[8.2rem lg:w-[12.2rem]' />
	<div>Socials</div>
</div>