---
import Logo from '@atoms/Logo.astro'
import Menu from '@atoms/Menu'
import NavLinks from '../molecules/NavLinks'
import MobileNav from '@organisms/MobileNav'
import Socials from '@molecules/Socials.tsx'
---

<div class='containerXPadding z-20 bg-bb-secondary-white w-full flex justify-between items-center py-[2rem] fixed'>
	<div class='gap-[4rem] w-[40%] navbar hidden md:flex'>
		<NavLinks classes='text-bb-tertiary-black' />
	</div>
	<!--Mobile Start-->
	<div class=' w-[10%]  z-30 md:hidden'>
		<Menu client:only='react' />
	</div>
	<!--Mobile End-->
	<Logo classes='w-[8.2rem] lg:w-[12.2rem] z-30' />
	<!--Mobile Start-->
	<div class='w-[10%] md:hidden' />
	<!--Mobile End-->

	<div class='w-[40%] hidden md:flex justify-end'>
		<Socials client:only='react' />
	</div>
	<!--Mobile Start-->
	<MobileNav client:only='react'/>
	<!--Mobile End-->
</div>




