---
import {ourProcess} from "@content/index"
// import ProcessStage from '@organisms/ProcessStage.astro'
---


<div class=' containerXPadding flex flex-col md:grid md:gap-[3rem] grid-rows-8 grid-cols-12 h-[70rem] bg-red-400'>
    <div class='col-span-5 border border-b-bb-secondary-black row-span-1 flex flex-col'>
        <h2 class='sectionHeader mb-[3rem]'>{ourProcess.header}</h2>
        <p class='w-4/5'>{ourProcess.paragraph}</p>
    </div>
    <!--<div class='w-full h-full col-span- row-span-3 row-start-3 bg-amber-300'>-->
    <!--    &lt;!&ndash;<ProcessStage paragraph='After modeling we enter the manufacturing process' header='Manufacturing' />&ndash;&gt;-->
    <!--</div>-->
    <!--<div class='w-full h-full col-span-3 row-span-3 row-start-3 bg-amber-900 col-start-7 '>-->
    <!--    &lt;!&ndash;<ProcessStage paragraph='After modeling we enter the manufacturing process' header='Manufacturing'/>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class='w-full h-full col-span-3 row-span-3 row-start-1 bg-amber-950 col-start-10 '>-->
    <!--    &lt;!&ndash;<ProcessStage paragraph='After modeling we enter the manufacturing process' header='Manufacturing'/>&ndash;&gt;-->
    <!--</div>-->
</div>
