---
import { rollWithSection } from '@content/index'
---
<div class='flex flex-col items-center py-[3rem] pb-[7rem] md:pb-[12rem] md:py-[5rem] xl:py-[5rem] xl:pb-[20rem]'>
	<h4
		class='font-alika text-36 w-4/5 md:w-2/3 lg:w-full lg:text-48 text-center mb-[3rem] md:mb-[5rem] xl:mb-[7rem]'>{rollWithSection.header}</h4>
	<p class='w-4/5 md:w-2/3 xl:w-1/2 text-center mb-[5rem] md:mb-[7rem] xl:mb-[9rem]'>{rollWithSection.paragraph}</p>
	<button>{rollWithSection.cta}</button>
</div>