---
import { rollWithSection } from '@content/index'
---
<div class='flex flex-col items-center py-[5rem] pb-[20rem]'>
	<h4 class='font-alika text-36 w-2/3 lg:w-full lg:text-48 text-center mb-[3.5rem]'>{rollWithSection.header}</h4>
	<p class='w-2/3 lg:w-1/2 text-center mb-[6rem]'>{rollWithSection.paragraph}</p>
	<button>{rollWithSection.cta}</button>
</div>