---

---


<div class='containerXPadding  grid grid-rows-12 gap-x-3.5 grid-cols-4 h-[70rem]'>
	<div class='row-span-10  col-span-2 bg-bb-primary-black'></div>
	<div class='row-span-10 row-start-3 col-start-3 col-span-2 bg-red-50 row-span'></div>
</div>