---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="Bambuu Website">
    <main class={'h-screen w-full flex flex-col justify-center sm:items-center'}>
    </main>
</Layout>

<style>
</style>
