---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="Bambuu Website">
    <main class={'h-screen w-full flex flex-col justify-center sm:items-center'}>
        <p class={'text-lg sm:text-6xl font-bold mb-10'}>
            Under Construction
        </p>
        <p class={'text-lg mb-5'}>
            Please Contact Us on Instagram <a class={'underline font-bold underline-offset-1'}
                                              href={'https://www.instagram.com/bambuubyo/'}> @bambuubyo</a>
        </p>
        {/*<p>Or</p>*/}
        {/*<p>*/}
        {/*  Whatsapp <a className={'underline font-bold underline-offset-1'} href={'https://wa.me/0706527578'}>+234 706 527 4578</a>*/}
        {/*</p>*/}
    </main>
</Layout>

<style>
</style>
