---
import ProcessImage from '@molecules/ProcessImage.astro'
interface Props {
    format: string
    header: string
    paragraph: string
    margin: string
}

const {format, paragraph, header, margin} = Astro.props

const checkFormat = () => format === 'short'
---

<div class:list={["h-[350px] w-[300px] md:h-full md:w-full flex flex-col md:flex-row bg-bb-light-brown relative", {'md:flex-col': checkFormat()}]}>
    <div class:list={["text-center order-2 pt-[2rem] px-[2rem] md:order-1 md:text-left w-full md:py-[2rem] md:pt-[5rem] md:pl-[3rem]", {'md:order-2 md:pt-[2rem] md:text-center px-[2rem]': checkFormat()}]}>
        <h4 class='text-24 mb-[1.5rem] md:text-36 font-alika'>{header}</h4>
        <p class='md:text-16 '>{paragraph}</p>
    </div>
    <div class:list={[`order-1 md:h-full md:aspect-[1/1] px-[2rem] md:px-0 -mt-[30%] h-[70%]  md:-mt-[10%]`, {' md:-mt-[30%] md:px-[2rem] h-[70%]': checkFormat()}]}>
        <ProcessImage/>
    </div>

</div>