---
import ProcessImage from '../molecules/ProcessImage.astro'
interface Props {
	format: string
	header: string
	paragraph: string
}

const { format, paragraph, header } = Astro.props
---

<div class='h-full w-full relative bg-bb-light-brown  '>
	<div class='px-[2rem] flex w-full relative bg-red-400 -top-[5rem] h-[5rem] z-10'>
		<ProcessImage />
	</div>
	<div class=' text-center relative z-0'>
		<h4 class='text-24 mb-[3rem] md:text-36 font-alika'>{header}</h4>
		<p class='md:text-16 '>{paragraph}</p>
	</div>


	<div />

</div>